<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head::header" ></head>
    <body>
        <div class="x-nav">
          	<span class="layui-breadcrumb">
	            <a href="#">首页</a>
	            <a href="#">学生分配管理</a>
	            <a><cite>学生分配列表</cite></a>
          	</span>
          	<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" 
          	onclick="location.reload()" title="刷新">
            	<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" action="studentlist">
                                 <input type="hidden" th:value="${pageBean.currPageNo}" name="pageIndex" id="pageIndex"/>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="like" th:value="${like}"  placeholder="请输入学号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="dormname" th:value="${dormname}"  placeholder="请输入宿舍名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="dorm_towername" th:value="${dorm_towername}"  placeholder="请输入宿舍楼名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <select name="dormId" >
                                        <option value="" th:selected="${dormId == ''}" >全部显示</option>
                                        <option value="1" th:selected="${dormId == '1'}">显示已分配</option>
                                        <option value="2" th:selected="${dormId == '2'}">显示未分配</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <select name="sex" >
                                        <option value="" th:selected="${sex == ''}">性别</option>
                                        <option value="1" th:selected="${sex == '1'}">男</option>
                                        <option value="2" th:selected="${sex == '2'}">女</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <select name="smoke">
                                        <option value="" th:selected="${smoke == ''}">是否吸烟</option>
                                        <option value="1" th:selected="${smoke == '1'}">是</option>
                                        <option value="2" th:selected="${smoke == '2'}">否</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn sreach"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                  	<tr>
	                                    <th>ID</th>
	                                    <th>用户名</th>
	                                    <th>真实名称</th>
	                                    <th>性别</th>
                                        <th>宿舍</th>
                                        <th>宿舍楼</th>
	                                    <th>电话</th>
	                                    <th>邮箱</th>
	                                    <th>注册日期</th>
                                        <th>是否吸烟</th>
                                        <th>调换宿舍</th>
                                        <th th:if="${users.role != '2' }">操作</th>
                                        <th th:if="${users.role == '0' }">是否迁出</th>

                                	</tr>
                                </thead>
                                <tbody>
                                  	<tr th:each="item : ${list}">
	                                    <td>[[${item.id}]]</td>
	                                    <td>[[${item.name}]]</td>
	                                    <td>[[${item.nickname}]]</td>
	                                    <td>
	                                    	<span th:if="${item.sex == 1}">男</span>
	                                    	<span th:if="${item.sex == 2}">女</span>
	                                    </td>
                                        <td>[[${item.dormname}]]</td>
                                        <td>[[${item.dorm_towername}]]</td>
	                                    <td>[[${item.tel}]]</td>
	                                    <td>[[${item.email}]]</td>
	                                    <td th:text="${#dates.format(item.create_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td>
                                            <span th:if="${item.smoke == 1}">是</span>
                                            <span th:if="${item.smoke == 2}">否</span>
                                        </td>
                                        <td th:if="${item.usId == null}">
                                            <div class="layui-card-header">
                                                <a href="javascript:;">
                                                    <button class="layui-btn" th:onclick="|javascript:insert('${item.id}')|"><i class="layui-icon"></i>调换宿舍</button>
                                                </a>
                                            </div>
                                        </td>
                                        <td th:if="${item.usId != null}">
                                            正在调换
                                        </td>
                                        <td th:if="${item.dormId == null && users.role != '2' }" class="td-manage">
                                            <div class="layui-card-header">
                                                <a href="javascript:;">
                                                    <button class="layui-btn" th:onclick="|javascript:xadmin.open('分配宿舍','toddedit?usersId=${item.id}',700,500)|"><i class="layui-icon"></i>分配宿舍</button>
                                                </a>
                                            </div>
                                        </td>
                                        <td th:if="${item.dormId != null && users.role != '2' }" class="td-manage">
                                            <div class="layui-card-header">
                                                <a href="javascript:;">
                                                    <button class="layui-btn" th:onclick="|javascript:del('${item.dorm_userId}')|"><i class="layui-icon"></i>取消分配宿舍</button>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="td-manage" th:if="${users.role == '0'}">

                                            <a title="删除" th:onclick="|javascript:member_del('${item.id}')|" href="javascript:;">
                                                <i class="layui-icon">&#xe640;</i></a>
                                        </td>
                                  	</tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                        	<div  th:replace="page::page"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
      	layui.config({
		    base: 'js/' //你存放新模块的目录，注意，不是layui的模块目录
	  	}).use(['laydate','form'], function(){
	        var laydate = layui.laydate,form=layui.form; 
	        //执行一个laydate实例
	        laydate.render({
	          elem: '#start' //指定元素
	        });

	        //执行一个laydate实例
	        laydate.render({
	          elem: '#end' //指定元素
	        });
	        form.render('select'); //刷新select选择框渲染
      	});
      	
      	/*用户-删除*/
      	function del(id){
          	layer.confirm('确认要取消分配吗？',function(index){
              	$.ajax({
              		url:'delDorm_usersId',
              		data:{id:id},
              		success:function(res){
              			if(res.code == 0){
              				layer.msg('已取消!',{icon:1,time:1000},function(){
              					location.reload()
              				});
              			}else{
              				layer.msg('取消失败!',{icon:5,time:1000});
              			}
              		},
              		error:function(err){
              			layer.msg(err,{icon:5,time:1000},function(){
          					location.reload()
          				});
              		}
              	})
              	
      		});
      	}

        function insert(id){
            layer.confirm('确认要调换吗？',function(index){
                $.ajax({
                    url:'changingdormitory',
                    data:{otherId:id},
                    success:function(res){
                        if(res.code == 0){
                            layer.msg('已发出申请!',{icon:1,time:1000},function(){
                                location.reload()
                            });
                        }else{
                            layer.msg(res.msg,{icon:5,time:1000});
                        }
                    },
                    error:function(err){
                        layer.msg(err,{icon:5,time:1000},function(){
                            location.reload()
                        });
                    }
                })

            });

        }
        /*迁出-删除*/
        function member_del(id){
            layer.confirm('确认要迁出吗？',function(index){
                $.ajax({
                    url:'delOut',
                    data:{id:id},
                    success:function(res){
                        if(res.code == 0){
                            layer.msg('已迁出!',{icon:1,time:1000},function(){
                                location.reload()
                            });
                        }else{
                            layer.msg('迁出失败!',{icon:5,time:1000});
                        }
                    },
                    error:function(err){
                        layer.msg(err,{icon:1,time:1000},function(){
                            location.reload()
                        });
                    }
                })

            });
        }
    </script>
</html>