<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head::header" ></head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="name" name="name" required="required" lay-verify="name" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>宿舍号</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="请输入内容" class="layui-textarea" name="number" id="number" ></textarea></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>容纳人数</label>
                        <div class="layui-input-inline">
                            <input type="number" id="people_count" name="people_count" required="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-inline layui-show-xs-block" style="width: 500px">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>宿舍楼
                        </label>
                        <div class="layui-input-inline">
                            <select name="dorm_towerId">
                                <option th:each="item : ${order_towerList}" th:value="${item.id}">[[${item.name}]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">添加</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
        	layui.use(['form', 'layer','jquery'],function() {
                $ = layui.jquery;
                var form = layui.form,layer = layui.layer;
                //监听提交
                form.on('submit(add)',function(data) {
                    $.ajax({
	                    	url:"addDorm",
	                    	data:{
                                name:data.field.name,
                                number:data.field.number,
                                dorm_towerId:data.field.dorm_towerId,
                                people_count:data.field.people_count
                            },
	                    	success:function(res){
	                    		//console.log(res);
	                    		if(res.code == 0){
	                    			layer.msg('已添加!',{icon:1,time:1000},function(){
			              				// 获得frame索引
				                        var index = parent.layer.getFrameIndex(window.name);
				                        //关闭当前frame
				                        parent.layer.close(index);
				                        parent.location.reload();
		              				});
	                    		}else{
		              				layer.msg(res.msg,{icon:5,time:1000});
		              			}
	                    	},
		              		error:function(err){
		              			layer.msg(res.msg,{icon:5,time:1000});
		              		}
	                    	
	                    })
                    return false;
                });

            });
        </script>
    </body>

</html>