<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head::header" ></head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>标题</label>
                        <div class="layui-input-inline">
                            <input type="text" id="title" name="title" required="required" lay-verify="title" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>内容</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="请输入内容" class="layui-textarea" name="content" id="content" ></textarea></div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">添加</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
        	layui.use(['form', 'layer','jquery'],function() {
                $ = layui.jquery;
                var form = layui.form,layer = layui.layer;
                //监听提交
                form.on('submit(add)',function(data) {
                    $.ajax({
	                    	url:"addNotice",
	                    	data:{
	                    	    title:data.field.title,
                                content:data.field.content
                            },
	                    	success:function(res){
	                    		//console.log(res);
	                    		if(res.code == 0){
	                    			layer.msg('已添加!',{icon:1,time:1000},function(){
			              				// 获得frame索引
				                        var index = parent.layer.getFrameIndex(window.name);
				                        //关闭当前frame
				                        parent.layer.close(index);
				                        parent.location.reload();
		              				});
	                    		}else{
		              				layer.msg('添加失败!',{icon:5,time:1000});
		              			}
	                    	},
		              		error:function(err){
		              			layer.msg('添加失败!',{icon:5,time:1000});
		              		}
	                    	
	                    })
                    return false;
                });

            });
        </script>
    </body>

</html>